.chatsSection {
  --background: #ffffff;
  --foreground: #171717;

  --bg1: #00a884;
  --bg2: #dbd8d4;
  --bg_main: #f0f2f5;
  --bg_chats: #ffffff;

  --btn_download: #017561;

  --tab_active: #e7fce3;
  --tab_inactive: #e9edef;

  --icons: #54656f;
  --icon_active: #d9dbdf;

  --h1: #111b21;
  --highlight: #25d366;

  --border: 1px solid;
  --border-list: #e9edef;

  --chat-font-size: 17px;
  --chat-meta: #667781;

  width: 100%;
  flex: 0 0 30%;
  max-width: 30%;
  background-color: var(--bg_chats);
}

.headerContainer {
  flex-grow: 1;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 0.625rem;
}

.headerTitle h1 {
  font-size: 1.375rem;
  font-weight: bold;
}

.headerOptions {
  display: flex;
  gap: 0.5rem;
}

.headerOptions span {
  padding: 0.5rem;
  max-width: 40px;
  max-height: 40px;
  cursor: pointer;
}

.headerOptions span:active {
  border-radius: 50%;
  background-color: var(--icon_active);
}

.searchBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 0.625rem;
  height: 44px;
}

.searchBarContainer {
  flex: 1;
  display: flex;
  align-items: center;
  background-color: var(--bg_main);
  border-radius: 0.5rem;
  height: 35px;
  padding: 0 1rem;
}

.searchBarContainer button {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.searchBarContainer input {
  width: 100%;
  flex-grow: 1;
  min-width: 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.25rem;
  margin-left: 1.75rem;
  margin-right: 2rem;
}
