.chatsSection {
  --background: #ffffff;
  --foreground: #171717;

  --bg1: #00a884;
  --bg2: #dbd8d4;
  --bg_main: #f0f2f5;
  --bg_chats: #ffffff;

  --btn_download: #017561;

  --tab_active: #e7fce3;
  --tab_inactive: #e9edef;

  --icons: #54656f;
  --icon_active: #d9dbdf;

  --h1: #111b21;
  --highlight: #25d366;

  --border: 1px solid;
  --border-list: #e9edef;

  --chat-font-size: 17px;
  --chat-meta: #667781;
  --chat-active: #f0f2f5;

  width: 100%;
  max-width: 30%;
  min-width: 335px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-left: 1px solid #d1d7db;
  border-right: 1px solid #d1d7db;
  background-color: var(--bg_chats);
}

/* CHAT LIST CONTAINER */
.chatlist {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  height: auto;
  max-height: calc(100vh - 62px);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #bbb #ffffff;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.chatlistArchived {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.archivedIconContainer {
  width: 77px;
  height: 49px;
  padding: 0 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.archivedTitleContainer {
  flex: 1;
  height: 100%;
  font-size: 1.063rem;
  padding-right: 0.938rem;
  display: flex;
  align-items: center;
  justify-content: start;
}

.archivedCountContainer {
  width: 31px;
  height: 100%;
  font-size: 0.75rem;
  padding-right: 0.813rem;
  display: flex;
  align-items: center;
  justify-content: start;
}

.archivedCountContainer span {
  padding-top: 0.6em;
  line-height: 1;
  color: var(--highlight);
}

/* CHATS */

.chatlistContainer {
  width: 100%;
  max-width: 100%;
  cursor: pointer;
}

.chatlistContainer:hover {
  background-color: var(--chat-active);
}

.chatlistContainer:hover .chatMoreIcon {
  opacity: 1;
}

.chatMoreIcon {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.chatContainer {
  display: flex;
  align-items: center;
  max-width: 100%;
  min-height: 72px;
  overflow: hidden;
  flex-shrink: 0;
  color: #111b21;
}

.chatImage {
  display: flex;
  align-items: center;
  margin-top: -1px;
  padding-left: 0.813rem;
  padding-right: 0.938rem;
}

.chatImage img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.chatBody {
  flex: 1;
  min-width: 0;
  overflow: hidden;
  height: 72px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 0.938rem;
  border-top: 1px solid var(--border-list);
}

.chatHeader {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.chatHeader h3 {
  font-size: 1.063rem;
  font-weight: 400;
}

.chatHeader span {
  margin-top: 0.188rem;
  margin-left: 0.375rem;
  color: var(--chat-meta);
  font-size: 0.75rem;
}

.chatMensage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--chat-meta);
}

/* .chatHeader h3,
.chatMensage p {
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
} */
.chatMensage .chatStatusIcon {
  margin-right: 3px;
  padding-top: 3px;
}

.chatMensage p {
  flex: 1;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.875rem;
  font-weight: 400;
}

.chatMensage .chatMoreIcon {
  padding-top: 2px;
}

.chatFooter {
  min-width: 0;
  margin: 1rem;
  height: 42px;
  margin-bottom: 1rem;
}

.chatFooterContainer {
  padding-top: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--border-list);
}

.chatFooterContent {
  width: 100%;
  line-height: 1.3333;
  white-space: normal;
  font-size: 0.75rem;
  word-break: break-word;
  text-align: center;
}

.chatFooterContent .footerIcon {
  padding-top: 0.75rem;
  padding-right: 0.188rem;
}

.chatFooterContent a {
  font-weight: bold;
  color: #0063cb;
}

.activeChat {
  background-color: var(--chat-active);
}
