.navbar {
  --bg1: #00a884;
  --bg2: #dbd8d4;
  --bg_main: #f0f2f5;
  --bg_contacts: #ffffff;

  --btn_download: #017561;

  --tab_active: #e7fce3;
  --tab_inactive: #e9edef;

  --icons: #54656f;
  --icon_active: #d9dbdf;

  --h1: #111b21;

  width: 100%;
  max-width: 4.125rem;
  height: 100%;
  padding: 0.5rem 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu_options {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.menu_options li {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.625rem;
  max-width: 40px;
  max-height: 40px;
  cursor: pointer;
}

.profilePic {
  border-radius: 50%;
  text-align: center;
}

.active {
  border-radius: 50%;
  background-color: var(--icon_active);
}
